# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IntelliJ IDEA 2019.3.3\DiscordGameBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
